body {
    background-color: rgb(34, 30, 30);
}

.fgwhite {
    color: rgb(230, 225, 205);
}

.bgwhite {
    background-color: rgb(219, 213, 184);
}

.fgblack {
    color: rgb(53, 44, 44);
}

.bgblack {
    background-color: rgb(40, 32, 32);
}

.font {
    font-family: 'Copperplate';
}

.center {
    text-align: center;
}

.line {
    width: 40vw;
    display: block;
    height: 0px;
    border: 0;
    border-top: 1px solid rgb(230, 224, 193);
    padding: 0;
}