body {
    background-color: gray;
    overflow: hidden;
}

.clock_side {
    background-color: azure;
    width: 100%;
    height: 42vh;
    color: gray;
    font-size: min(13vw, 36vh)
}

#pause {
    width: 100%;
    height: 16ch;
    background-color: black;
    color: white;
}

#b1 {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    background-color: whitesmoke;
}

#b2 {
    background-color: lightcoral;
}
