html {
    overflow: hidden;
}

body {
    background-color: gray;
    overflow: hidden;
    position: fixed;
}

.clock_side {
    font-family: monospace, monospace;
    background-color: azure;
    width: 100%;
    height: 45vh;
    color: gray;
    font-size: min(13vw, 36vh)
}

#pause {
    width: 100%;
    height: 10vh;
    background-color: black;
    color: gold;
    font-size: min(13vw, 36vh)
}

#b1 {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    background-color: whitesmoke;
}

#b2 {
    background-color: lightcoral;
}
