html {
    overflow: hidden;
}

body {
    background-color: gray;
    overflow: hidden;
    position: fixed;
}

.clock_side {
    font-family: "Overpass Mono";
    background-color: azure;
    width: 100%;
    height: 45vh;
    color: gray;
    font-size: min(13vw, 36vh)
}

#mid {
    display: flex;
    width: 100%;
    height: 10vh;
}

.moves {
    width: 50%;
    height: 10vh;
    background-color: gold;
}

#black_moves {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    color: black;
}

#white_moves {
    color: white;
}

#pause {
    width: 50%;
    height: 10vh;
    background-color: black;
    color: gold;
    font-size: min(13vw, 36vh)
}

#b1 {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    background-color: whitesmoke;
}

#b2 {
    background-color: lightcoral;
}
